<h1><%= @hospital.name %>'s show page</h1>

<section>
  <p>Number of doctors: <%= @hospital.number_of_doctors %></p>
  <p>List of unique universities: <%= @hospital.unique_list_universities %></p>
</section>
